<%- include partial/header%>
<%- include partial/navbar%>
    <!-- <h1>ITEMS LIST</h1>
  </head> -->
  <div class="container">
  <div class="row">
  <div class="col-md-6" style="margin-top:50px"><h1 style="margin:0;">ITEM LIST</h1></div>
  <div class="col-md-6" style="margin-top:50px;text-align:right;position:relative">
    <a href="/items/add"><button type="button" name="button" class="btn btn-success">Add New Item</button></a>
  </div>
  <body>
    <table  class="table table-hover">
    <tr class="table-info">
        <th class="text-center">ID Item</th>
        <th class="text-center">Item Name</th>
        <th class="text-center">Item Brand</th>
        <th class="text-center">Code Item</th>
        <th class="text-center">List Supplier</th>
        <th class="text-center">Action</th>
      </tr>
      <% data.forEach(z=>{%>
      <tr>
        <td class="text-center"><%=z.id%></td>
        <td class="text-center"><%=z.name%></td>
        <td class="text-center"><%=z.brand%></td>
        <td class="text-center"><%=z.codeitem%></td>
        <%if((z.dataValues.Suppliers) && (z.dataValues.Suppliers.length>0)){%>
        <td>
            <ul>
              <%z.Suppliers.forEach(a=>{%>
              <li><%=a.name%> @<%=a.SupplierItem.price%></li>
              <%})%>
            </ul>
        </td>
        <%}else{%>
        <td class="text-center"><font color="red">No Supplier Yet</font></td>
        <%}%>
        <td class="text-center">
          <a href="/items/edit/<%=z.id%>"><button type="button" name="button" class="btn btn-info">EDIT</button></a>
          <a href="/items/delete/<%=z.id%>"><button type="button" name="button" class="btn btn-danger">DELETE</button></a>
        </td>
      </tr>
      <%})%>
    </table>
    <br>
    <!-- <a href="/items/add"><button type="button" name="button">Add New Item</button></a> -->
  </body><br>
  <!-- <a href="/">Home</a> -->
</html>
