<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <h1>ITEMS LIST</h1>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>ID Item</th>
        <th>Item Name</th>
        <th>Item Brand</th>
        <th>Code Item</th>
        <th>List Supplier</th>
        <th>Action</th>
      </tr>
      <% data.forEach(z=>{%>
      <tr>
        <td><%=z.id%></td>
        <td><%=z.name%></td>
        <td><%=z.brand%></td>
        <td><%=z.codeitem%></td>
        <%if((z.dataValues.Suppliers) && (z.dataValues.Suppliers.length>0)){%>
        <td>
            <ul>
              <%z.Suppliers.forEach(a=>{%>
              <li><%=a.name%> @<%=a.SupplierItem.price%></li>
              <%})%>
            </ul>
        </td>
        <%}else{%>
        <td class="text-center"><font color="red">No Supplier Yet</font></td>
        <%}%>
        <td>
          <a href="/items/edit/<%=z.id%>"><button type="button" name="button">EDIT</button></a>
          <a href="/items/delete/<%=z.id%>"><button type="button" name="button">DELETE</button></a>
        </td>
      </tr>
      <%})%>
    </table>
    <br>
    <a href="/items/add"><button type="button" name="button">Add New Item</button></a>
  </body><br>
  <a href="/">Home</a>
</html>
