<%- include partial/header%>
<%- include partial/navbar%>
    <div class="container">
    <div class="row">
    <div class="col-md-6" style="margin-top:50px"><h1 style="margin:0;">SUPPLIER LIST</h1></div>
    <div class="col-md-6" style="margin-top:50px;text-align:right;position:relative">
      <a href="/suppliers/add"><button type="button" name="button" class="btn btn-success">Add New Suppliers</button></a>
    </div>
  <body>
    <div class="col-md-12">
      <table class="table table-hover">
        <tr class="table-info">
          <th class="text-center">Suppliers ID </th>
          <th class="text-center">Suppliers Name</th>
          <th class="text-center">Suppliers City</th>
          <th class="text-center">Add Item</th>
          <th class="text-center">List Item</th>
          <th class="text-center">Action</th>
        </tr>
        <% data.forEach(z=>{%>
        <tr>
          <td class="text-center"><%=z.id%></td>
          <td class="text-center"><%=z.name%></td>
          <td class="text-center"><%=z.kota%></td>
          <td class="text-center"><a href="/suppliers/<%=z.id%>/additem"><button type="button" name="button" class="btn btn-primary">Assign Item</button></a></td>
          <%if((z.dataValues.Items) && (z.dataValues.Items.length>0)){%>
          <td>
              <ul>
                <%z.Items.forEach(a=>{%>
                <li><%=a.name%> @<%=a.SupplierItem.price%></li>
                <%})%>
              </ul>
          </td>
          <%}else{%>
          <td class="text-center"><font color="red">No Item Yet</font></td>
          <%}%>
          <td class="text-center">
            <a href="/suppliers/edit/<%=z.id%>"><button type="button" name="button" class="btn btn-info">EDIT</button></a>
            <a href="/suppliers/delete/<%=z.id%>"><button type="button" name="button" class="btn btn-danger">DELETE</button></a>
          </td>
        </tr>
        <%})%>
      </table>
    </div>
    <!-- <br> -->
  </body>
  <div>
  <div><br>
  <!-- <a href="/">Home</a> -->
</html>
