<%- include partial/header%>
<div class="type-r0">
<h1>ADD ITEM TO SUPPLIERS</h1><br>
<%if(err_msg){ %>
  <div class="alert alert-danger" role='alert'>
  <p><%=err_msg%></p>
  <%  }%>
  </div>
<a href="/suppliers">show all data</a><br><br>
<body>
  <form action="/suppliers/<%=data[0].id%>/additem" method="post">
    <fieldset>
      <label>Name: </label> <label><%=data[0].name%></label><br>
      <label>City : </label> <label><%=data[0].kota%></label><br>
      <h3>LIST ITEM</h3>
      <ul>
          <%dataList.forEach(item=>{%>
          <li><%=item[0]%><%='   '%><%=item[1]%></li>
          <%})%>
      </ul>
    </fieldset><br><br>
    <label >List Item to add: </label><br>
      <select name="ItemId">
        <%dataItem.forEach(z=>{%>
              <option value="<%=z.id%>"><%=z.name%></option>
        <%})%>
      </select>
      <label>Price: </label>
      <input type="integer" name="price" value=""><br>
      <button type="submit">ADD ITEM</button>
  </form><br>

  <a href="/suppliers">BACK</a>
  <body>
